# Default ignored files
/shelf/
/.idea/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Virtual env
venv/
.env/
.venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# Outils / builds
dist/
build/
*.spec
# IDE
.idea/
.vscode/
# Config locale
config.json
# Modèles locaux (si tu ne veux PAS les pousser)
models/
